@media (max-width: 600px) {
  /*-----------------------------start navbar section----------------------------------------*/
  /*---------------------start first nav----------------------*/
  #nav {
    margin-bottom: -35px;
    width: 100%;
  }
  #nav .contain {
    font-size: 6px;
  }
  #nav .black_nav {
    height: 30px;
  }
  #nav .left_info {
    margin-left: -5px;
  }
  #nav .right_info {
    margin-right: 0px;
  }
  #nav .right_info {
    margin-right: 0px;
  }
  #nav .right_info .contact-us p {
    margin-right: 5px;
    margin-top: 2px;
  }
  #nav .right_info .contact-us i {
    margin-right: -25px;
  }
  #nav .left_info .account p {
    margin-right: 4px;
    margin-left: 3px;
    margin-top: 2px;
  }
  #nav .left_info .favor {
    margin-left: 10px;
  }
  #nav .left_info .favor p {
    margin-right: 4px;
    margin-top: 2px;
  }
  #nav .dropdown .dropdown-menu{ /*-------------*/
    
    margin: .240rem -2.5rem 0;
    padding: 0.0rem;
    margin-left: -10px;
  }
  #nav .dropdown .dropdown-item{ /*-------------*/
    color: white;
    background-color: #333333;
    font-size: xx-small;
    border: 0.5px solid white;
    text-align: center;
    padding: 1px;
  }
  /*--------------------end first nav-------------------*/
  /*----------start main navbar------------*/
  #nav .main_nav {
    padding-top: 40px;
    margin-bottom: 30px;
  }
  #nav .main_nav .container-fluid {
    position: relative;
  }
  #nav .icons {
    margin-left: 10%;
    width: 100%;
    margin-top: -25px;
  }
  #nav .main_nav .navbar-toggler {
    margin-left: -15%;
  }
  #nav .main_nav .logo {
    margin-left: 50%;
  }
  #nav .icons img {
    margin: 2px;
    width: 7%;
  }
  #nav .logo img {
    width: 100%;
    margin-top: -50%;
  }
  #nav .main_nav {
    margin-left: 15%;
  }
  #nav .navbar-nav li a {
    font-size: smaller;
    margin-left: -40px;
  }
  #nav .nav-item .nav-link:hover {
    border: none;
    color: #fe7fa5;
  }
  /*----------end main navbar------------*/
  /*---------------start search effect------------------*/
  .overlay .closebtn {
    top: 10px;
    right: 25px;
    font-size: 40px;
  }
  .overlay-content {
    top: 36%;
  }
  /*---------------end search effect------------------*/
  /*-----------------------------end navbar section----------------------------------------*/
  /*------------------------------start order section----------------------*/
  #order {
    display: none;
  }
  /*-------------------------end order section-------------------------*/
  /*-----------------------------start footer section------------------------------*/
  #footer .footer_back {
    margin-top: 50px;
    height: 510px;
  }
  #footer .footer_content {
    margin-top: 60px;
    position: relative;
  }
  #footer .footer_details {
    width: 50%;
  }
  #footer .top_footer {
    margin-top: 0%;
    margin-left: 50%;
    position: absolute;
  }
  #footer .top_footer p {
    font-size: 8.5px;
  }
  #footer .top_footer .social_icons a {
    font-size: 10px;
  }
  #footer .down_footer {
    margin-top: 50%;
    margin-left: 45%;
    position: absolute;
    font-size: 8.5px;
  }
  #footer .right_footer {
    position: absolute;
    width: 50%;
  }
  #footer .right_footer a {
    font-size: 8.5px;
  }
  #footer .left_footer {
    margin-top: 50%;
    position: absolute;
    font-size: 8.5px;
  }
  #footer .last_footer {
    margin-top: 105%;
  }
  .last_footer p {
    margin-left: -50px;
    font-size: 8.5px;
  }
  .last_footer .owner .companies {
    margin-left: 0px;
    margin-top: -15px;
  }
  /*------------------------------end footer section-------------------------------*/
  /*-------------------------- start one page------------------------------------*/
  /*-------------------------------start slider section----------------------------*/
  #slider .slider_img_container{    /*------------------------*/
    height: 130px;
  }
  #slider ol li {
    width: 6%;
    margin-bottom: -15px;
  }
  #slider .carousel-caption {
    margin-bottom: -20%;
  }
  #slider .carousel-caption h1 {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 15px;
  }
  #slider .carousel-caption p {
    margin-bottom: 0px;
    font-size: 7px;
  }
  #slider .carousel-item button {
    margin-bottom: 60px;
    width: 80px;
    font-size: 8px;
    transition: width 0.5s ease;
  }
  #slider .btn:hover {
    width: 100px;
    font-weight: bold;
  }
  #slider .next_prev span {
    width: 20%;
  }
  /*-------------------------------end slider section----------------------------*/
  /*--------------------------start shoping section---------------------------*/
  #shopping .header_shopping {
    margin-top: 20px;
  }
  #shopping .header_shopping img {
    width: 20%;
  }
  #shopping .header_shopping h1 {
    margin-top: -8px;
    font-size: 18px;
  }
  .line {
    width: 25%;
    border: #fe7fa5 1px solid;
    margin-left: 38%;
  }
  .title::before {
    display: none;
  }
  .title::after {
    display: none;
  }
  /*#shopping .gallery {
    padding-top: 15px;
  }
  #shopping .gallery .image {
    margin-left: 35px;
  }
  #shopping .back_photo img {
    margin-top: 15px;
    width: 80%;
  }*/
  .gallery .same_btn {
    left: 32%;
  }
  #shopping .img-container{    /*---------------*/
    width: 100%;
    height: 255px;
  }
  #shopping .img-container1{   /*--------------*/
    width: 100%;
    height: 255px;
  }

  /*----------------------------end shoping section--------------------------*/
  /*-------------------------start special secion------------------------*/
  #special {
    margin-top: 15px;
  }
  #special .header_shopping img {
    width: 20%;
  }
  #special .header_shopping h1 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 10px;
  }
  #special .header_shopping button {
    margin-bottom: -40px;
    width: 16%;
  }
  #special .products {
    margin-top: 60px;
    margin-left: 25px;
  }
  #special .products img {
    width: 90%;
  }
  .products .content .icons {
    top: 50%;
    left: 80%;
  }
  .products .content .icons i {
    border-radius: 50%;
    margin-top: 5px;
    height: 25px;
  }
  /*-------------------------end special secion------------------------*/
  /*------------------------start show section---------------------------*/
  #show img {
    margin-bottom: 30px;
    height: 150px;
  }
  #show .details_on_img .some_details_image {
    top: 16%;
    text-align: right;
    font-size: 11px;
    margin-left: 40%;
  }
  #show .details_on_img .some_details_image button {
    width: 60%;
    font-size: 11px;
  }
  #show .details_on_img .some_details_image button {
    margin-top: 8px;
  }
  /*------------------------end show section---------------------------*/
  /*-------------------------end discound section----------------------*/
  #discound {
    margin-top: -60px;
  }
  #discound .sales {
    margin-top: 0px;
    background-size: 100%;
    height: 120px;
  }
  #discound .header_show {
    right: 40%;
    top: 0px;
  }
  #discound .header_show h1 {
    font-size: 18px;
  }
  #discound .slider {
    width: 90%;
  }

  /*---------------------------end discound section------------------------*/
  /*-------------------------- end one page------------------------------------*/
}
/*-----------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 601px){
  /*-----------------------------start navbar section----------------------------------------*/
  /*---------------------start first nav----------------------*/
  #nav {
    margin-bottom: -35px;
    width: 100%;
  }
  #nav .contain {
    font-size: 9px;
  }
  #nav .black_nav {
    height: 30px;
  }
  #nav .left_info {
    margin-left: -5px;
  }
  #nav .right_info {
    margin-right: 0px;
  }
  #nav .right_info {
    margin-right: 0px;
  }
  #nav .right_info .contact-us p {
    margin-right: 5px;
    margin-top: 2px;
  }
  #nav .right_info .contact-us i {
    margin-right: -25px;
  }
  #nav .left_info .account p {
    margin-right: 4px;
    margin-left: 3px;
    margin-top: 2px;
  }
  #nav .left_info .favor {
    margin-left: 10px;
  }
  #nav .left_info .favor p {
    margin-right: 4px;
    margin-top: 2px;
  }
  #nav .down_account {
    width: 58px !important;
    margin-top: 60% !important;
    margin-left: -10px !important;
  }
  #nav .down_account a {
    font-size: 8px !important;
  }
  #nav .down_account li {
    border: 1px solid white !important;
    height: 20px !important;
  }
  .main_nav .offer_img {
    display: none;
  }
  /*--------------------end first nav-------------------*/
  /*----------start main navbar------------*/
  #nav .main_nav {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #nav .main_nav .container-fluid {
    position: relative;
  }
  #nav .icons {
    margin-left: 15%;
    width: 100%;
    margin-top: -25px;
  }
  #nav .main_nav .navbar-toggler {
    margin-left: -15%;
    margin-top: -10px;
  }
  #nav .icons img {
    margin: 5px;
    margin-top: 10px;
    width: 10%;
  }
  #nav .logo img {
    width: 120%;
    margin-top: -20%;
    margin-left: -40%;
  }
  #nav .main_nav {
    margin-left: 15%;
  }
  #nav .navbar-nav li a {
    font-size: smaller;
    margin-left: -38%;
  }
  #nav .nav-item .nav-link:hover {
    border: none;
    color: #fe7fa5;
  }
  /*----------end main navbar------------*/
  /*---------------start search effect------------------*/
  .overlay .closebtn {
    top: 15px;
    right: 25px;
    font-size: 45px;
  }
  .overlay-content {
    top: 36%;
  }
  /*---------------end search effect------------------*/
  /*-----------------------------end navbar section----------------------------------------*/
  /*-------------------------- start one page------------------------------------*/
  /*-------------------------------start slider section----------------------------*/
  #slider .carousel-caption {
    margin-bottom: -8%;
  }
  #slider .carousel-caption h1 {
    font-weight: bolder;
    font-size: 35px;
    margin-bottom: 20px;
  }
  #slider .carousel-caption p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  #slider ol li {
    width: 6%;
    margin-bottom: -15px;
  }
  #slider .carousel-item button {
    margin-bottom: 45px;
    width: 120px;
    font-size: 15px;
    transition: width 0.5s ease;
  }
  #slider .btn:hover {
    width: 100px;
    font-weight: bold;
  }
  #slider .next_prev span {
    width: 20%;
  }
  
  /*-------------------------------end slider section----------------------------*/
  /*-------------------------------start shoping section-------------------------*/
  #shopping .gallery .part_grid .difer_width{
    width: 100%;
  }
  #shopping .gallery .part_grid .same_width{
    width: 100%;
  }
  #shopping .gallery .same_btn {
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    left: 40%;
  }
  #shopping .img-container{    /*---------------*/
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  #shopping .img-container1{   /*--------------*/
    width: 300px;
    height: 420px;
  }
  /*-------------------------------end shoping section--------------------------*/
  /*-------------------------------start show section--------------------------*/
  #show img {
    height: 180px;
  }
  #show .details_on_img .some_details_image {
    font-size: 15px;
    margin-left: 28%;
  }
  #show .details_on_img .some_details_image button {
    width: 50%;
    font-size: 15px;
  }
  /*--------------------------------end show section-----------------------------*/
  /*-------------------------end discound section----------------------*/
  #discound .sales {
    margin-top: 0px;
    background-size: 100%;
    height: 270px;
  }
  #discound .header_show {
    right: 40%;
    top: 0px;
  }
  #discound .slider {
    width: 90%;
  }
  /*---------------------------end discound section------------------------*/
  /*-------------------------- end one page------------------------------------*/
  /*------------------------------start order section----------------------*/
  #order {
    margin-top: -150px;
  }
  #order .one_icon {
    width: 25%;
    margin-bottom: -20px;
  }
  #order .one_icon .cap_details {
    display: none;
  }
  #order img {
    width: 25%;
  }
  /*-------------------------end order section-------------------------*/
  /*-----------------------------start footer section------------------------------*/
  #footer .footer_back {
    margin-top: 50px;
    height: 580px;
  }
  #footer .footer_content {
    margin-top: 60px;
    position: relative;
  }
  #footer .footer_details {
    width: 50%;
  }
  #footer .top_footer {
    margin-top: 0%;
    margin-left:35%;
    position: absolute;
  }
  #footer .top_footer p {
    font-size: 10px;
  }
  #footer .top_footer .social_icons a {
    font-size: 12px;
  }
  #footer .down_footer {
    margin-top: 30%;
    margin-left: 25%;
    position: absolute;
    font-size: 12px;
  }
  #footer .right_footer {
    position: absolute;
    width: 30%;
  }
  #footer .right_footer a {
    font-size: 10px;
  }
  #footer .left_footer {
    margin-top: 30%;
    position: absolute;
    font-size: 12px;
    margin-left: -25%;
  }
  #footer .last_footer {
    margin-top: 70%;
  }
  .last_footer p {
    margin-left: 40px;
    font-size: 10px;
  }
  .last_footer .owner .companies {
    margin-left: 60px;
    margin-top: -15px;
    width: 80%;
  }
  /*------------------------------end footer section-------------------------------*/
}
/*---------------------------------------------------------------------------------------------------------------------*/
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  /*-----------------------------start navbar section----------------------------------------*/
  /*---------------------start first nav----------------------*/
  .main_nav .offer_img {
    display: none;
  }
  #nav .left_info {
    margin-left: 20px;
    margin-right: 5%;
  }
  #nav .down_account {
    width: 80px;
  }
  #nav .down_account li {
    border: 1px solid white;
    height: 25px;
  }
  #nav .down_account a {
    font-size: 11px;
  }
  /*--------------------end first nav-------------------*/
  /*----------start main navbar------------*/
  
  /*----------start main navbar------------*/
  #nav .main_nav {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #nav .main_nav .container-fluid {
    position: relative;
  }
  #nav .icons {
    margin-left: 15%;
    width: 100%;
    margin-top: -25px;
  }
  #nav .main_nav .navbar-toggler {
    margin-left: -15%;
    margin-top: -10px;
  }
  #nav .icons img {
    margin: 5px;
    margin-top: 10px;
    width: 20%;
  }
  #nav .logo img {
    width: 120%;
    margin-top: -20%;
    margin-left: -40%;
  }
  #nav .main_nav {
    margin-left: 15%;
  }
  #nav .navbar-nav li a {
    font-size: smaller;
    margin-left: -38%;
  }
  #nav .nav-item .nav-link:hover {
    border: none;
    color: #fe7fa5;
  }
  /*----------end main navbar------------*/
  /*---------------start search effect------------------*/
  .overlay .closebtn {
    top: 15px;
    right: 25px;
    font-size: 45px;
  }
  .overlay-content {
    top: 36%;
  }
  /*----------end main navbar------------*/
  /*---------------start search effect------------------*/
  .overlay .closebtn {
    top: 10px;
    right: 25px;
    font-size: 40px;
  }
  .overlay-content {
    top: 36%;
  }
  /*---------------end search effect------------------*/
  /*------------------------------start order section----------------------*/
  #order {
    margin-top: 30px;
  }
  #order .one_icon {
    margin-bottom: -20px;
  }
  #order .one_icon .cap_details {
    display: none;
  }
  /*------------------------------end order section----------------------*/
  /*-----------------------------start footer section------------------------------*/
  #footer .footer_back {
    margin-top: 50px;
    height: 580px;
  }
  #footer .footer_content {
    margin-top: 60px;
    position: relative;
  }
  #footer .footer_details {
    width: 50%;
  }
  #footer .top_footer {
    margin-top: 0%;
    margin-left: 60%;
    position: absolute;
  }
  #footer .top_footer p {
    font-size: 12px;
  }
  #footer .top_footer .social_icons a {
    font-size: 14px;
  }
  #footer .down_footer {
    margin-top: 22%;
    margin-left: 60%;
    position: absolute;
    font-size: 12px;
  }
  #footer .right_footer {
    position: absolute;
    width: 40%;
    margin-left: 10%;
  }
  #footer .right_footer a {
    font-size: 12px;
  }
  #footer .left_footer {
    margin-top: 21%;
    position: absolute;
    font-size: 12px;
    margin-left: 10%;
  }
  #footer .last_footer {
    margin-top: 48%;
  }
  .last_footer p {
    margin-left: 130px;
    font-size: 10px;
    width: 100%;
  }
  .last_footer .owner .companies {
    margin-left: 160px;
    margin-top: -15px;
    width: 80%;
  }
  /*-----------------------------end footer section------------------------------*/
  /*-------------------------- start one page------------------------------------*/
  /*-------------------------------start slider section----------------------------*/
  #slider .slider_img_container{    /*------------------------*/
    height: 280px;
  }
  #slider .carousel-caption {
    margin-bottom: 0%;
  }
  #slider .carousel-caption h1 {
    font-weight: bold;
    font-size: 28px;
  }
  #slider .carousel-caption p {
    font-size: 15px;
  }
  #slider ol li {
    width: 3%;
    margin-bottom: -15px;
  }
  #slider .carousel-item button {
    margin-bottom: 45px;
    width: 120px;
    font-size: 15px;
    transition: width 0.5s ease;
  }
  #slider .btn:hover {
    width: 100px;
    font-weight: bold;
  }
  #slider .next_prev span {
    width: 10%;
  }
  /*-------------------------------end slider section----------------------------*/
  /*------------------------------------start shoping section------------------------------*/
  #shopping .header_shopping {
    margin-top: 40px;
  }
  #shopping .header_shopping h1 {
    margin-top: -8px;
  }
  #shopping .gallery {
    padding-top: 20px;
  }
  .gallery .same_btn {
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    height: 50px;
  }
  .gallery .difer_btn {
    width: 130px;
    font-size: 12px;
    font-weight: normal;
    height: 50px;
  }
  #shopping .gallery .part_grid .difer_width{
    width: 100%;
  }
  #shopping .gallery .part_grid .same_width{
    width: 150%;
  }
  
  /*------------------------------------end shoping section------------------------------*/
  /*------------------------------------start special section------------------------------*/
  #special {
    margin-top: 15px;
  }
  #special .header_shopping img {
    width: 20%;
  }
  #special .header_shopping h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #special .header_shopping button {
    margin-bottom: -40px;
  }
  #special .products {
    margin-top: 60px;
  }
  /*------------------------------------start special section------------------------------*/
  /*------------------------start show section---------------------------*/
  #show img {
    margin-bottom: 0px;
    height: 150px;
  }
  #show .details_on_img .some_details_image {
    top: 16%;
    text-align: right;
    font-size: 15px;
    margin-left: 29%;
  }
  #show .details_on_img .some_details_image button {
    width: 48%;
    font-size: 12px;
  }
  #show .details_on_img .some_details_image button {
    margin-top: 8px;
  }
  /*------------------------end show section---------------------------*/
  /*-------------------------end discound section----------------------*/
  /*#discound{
    margin-top: -60px;
    }*/
  #discound .sales {
    height: 300px;
  }
  #discound .slider {
    width: 90%;
  }

  /*---------------------------end discound section------------------------*/
  /*-------------------------- end one page------------------------------------*/
}
/*------------------------------------------------------------------------------------------------------------------------*/
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  /*-----------------------------start navbar section----------------------------------------*/
  /*---------------------start first nav----------------------*/
  #nav {
    margin-top: 0px;
  }
  #nav .main_nav .offer_img {
    display: block;
    margin-left: 73%;
  }
  #nav .left_info {
    margin-left: 0px;
    margin-right: 10%;
  }
  #nav .left_info .favor {
    margin-left: 35px;
  }
  #nav .down_account {
    width: 100px !important;
    margin-top: -10%;
  }
  #nav .down_account li {
    border: 1px solid white;
    height: 30px !important;
  }
  #nav .down_account a {
    font-size: 13px !important;
  }
  /*--------------------end first nav-------------------*/
  /*----------start main navbar------------*/
  #nav .main_nav {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #nav .main_nav .container-fluid {
    position: relative;
  }
  #nav .icons {
    margin-left: -10%;
    width: 100%;
    margin-top: -25px;
  }
  #nav .icons img {
    margin: 5px;
    margin-top: 10px;
    width: 12%;
  }
  #nav .logo img {
    width: 100%;
    margin-top: -20%;
    margin-left: 0%;
  }
  #nav .main_nav {
    margin-left: 15%;
  }
  #nav .navbar-nav li a {
    font-size: 14px;
    margin-left: 0%;
  }
  #nav .nav-item .nav-link:hover {
    border-bottom: #fe7fa5 1px solid;
  }
  /*----------end main navbar------------*/
  /*---------------start search effect------------------*/
  .overlay .closebtn {
    top: 10px;
    right: 25px;
    font-size: 55px;
  }
  .overlay-content {
    top: 36%;
  }
  /*---------------end search effect------------------*/
  /*-----------------------------end navbar section----------------------------------------*/
  /*----------------------------start order section------------------------*/
  #order {
    margin-top: 0px;
  }
  #order .one_icon .cap_details {
    display: block;
  }
  /*-------------------------end order section----------------------------*/
  /*-----------------------------start footer section------------------------------*/
  #footer .footer_back {
    margin-top: 50px;
    height: 410px;
  }
  #footer .footer_content {
    margin-top: 60px;
    position: relative;
  }
  #footer .footer_details {
    width: 25%;
  }
  #footer .top_footer {
    margin-top: 0%;
    margin-left: 70%;
    position: absolute;
  }
  #footer .top_footer p {
    font-size: 12px;
  }
  #footer .top_footer .social_icons a {
    font-size: 14px;
  }
  #footer .down_footer {
    margin-top: 0%;
    margin-left: 45%;
    position: absolute;
    font-size: 12px;
  }
  #footer .right_footer {
    position: absolute;
    width: 40%;
    margin-left: 0%;
    margin-top: 0%;
  }
  #footer .right_footer a {
    font-size: 12px;
  }
  #footer .left_footer {
    margin-top: 0%;
    position: absolute;
    font-size: 12px;
    margin-left: 20%;
  }
  #footer .last_footer {
    margin-top: 24%;
  }
  .last_footer p {
    text-align: center;
    margin-left: 40%;
    font-size: 12px;
    width: 100%;
  }
  .last_footer .owner .companies {
    text-align: center;
    margin-top: -15px;
    width: 80%;
  }
  /*-----------------------------end footer section------------------------------*/
  /*--------------------start one pade-------------------------*/
  /*--------------------start slider section---------------------------*/
  #slider .slider_img_container{    /*------------------------*/
    height: 380px;
  }
  #slider {
    margin-top: 40px;
  }
  #slider .carousel-caption {
    margin-bottom: 0%;
  }
  #slider .carousel-caption h1 {
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 40px;
  }
  #slider .carousel-caption p {
    margin-bottom: 40px;
    font-size: 20px;
  }
  #slider .carousel-caption .btn {
    width: 18%;
    font-weight: bold;
    font-size: 20px;
    transition: width 0.5s ease;
  }
  #slider ol li {
    width: 3%;
    margin-bottom: -15px;
  }
  #slider .btn:hover {
    width: 20%;
    font-weight: bold;
  }
  #slider .next_prev span {
    width: 10%;
  }
  /*--------------------start slider section---------------------------*/
  /*--------------------start shoping section-------------------------*/
  #shopping .header_shopping h1 {
    margin-top: 0px;
  }
  .gallery .same_btn {
    width: 120px;
    font-size: 15px;
    font-weight: bolder;
    height: 55px;
    top: 50%;
    left: 50%;
  }
  .gallery .difer_btn {
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    top: 50%;
    left: 50%;
  }
  #shopping .img-container{    /*---------------*/
    width: 250px;
    height: 255px;
    margin-bottom: 30px;
  }
  #shopping .img-container1{   /*--------------*/
    width: 350px;
    height: 540px;
  }
  /*--------------------end shoping section---------------------------*/
  /*--------------------start special section-------------------------*/
  #special .header_shopping h1 {
    margin-top: 5px;
  }
  #special .header_shopping img {
    width: 10%;
  }
  /*---------------------end special section-------------------------*/
  /*----------------------start show secion-------------------------------*/
  #show .details_on_img .some_details_image {
    top: 12%;
    margin-left: 40%;
  }
  #show img {
    margin-bottom: 0px;
    height: 200px;
  }
  #show .details_on_img .some_details_image {
    top: 18%;
    margin-left: 40%;
    font-weight: bold;
    font-size: 16px;
  }
  #show .details_on_img .some_details_image button {
    font-size: 15px;
  }
  /*----------------------end show secion-------------------------------*/
  /*-------------------------end discound section----------------------*/
  #discound {
    margin-bottom: 40px;
  }
  #discound .sales {
    margin-top: 0px;
    background-size: 100%;
    height: 450px;
  }
  #discound .header_show {
    right: 45%;
    top: 0px;
  }
  /*---------------------------end discound section------------------------*/
  /*--------------------------end one page------------------------------*/
}
/*----------------------------------------------------------------------------------------------------------------------*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  /*-------------------------------start nabBar section---------------------------*/
  /*-----------------------------first navbar------------------------*/
  #nav .left_info {
    margin-left: 20px;
  }
  #nav .main_nav .offer_img {
    /* offer button in main navbar*/
    margin-left: 68%;
  }
  #nav .down_account {
    width: 95px !important;
  }
  #nav .down_account a {
    font-size: 12px !important;
  }
  /*------------------------------end first navbar----------------------*/
  /*----------------------------start main navbar---------------------*/
  #nav .logo img {
    width: 70%;
    margin-left: 170%;
  }
  #nav .icons {
    margin-right: -24%;
  }
  #nav .main_nav #collapsibleNavbar {
    margin-left: 38%;
    font-size: 15px;
  }
  #nav .main_nav .offer_img {
    display: block;
    margin-left: 74%;
  }
  #nav .navbar-nav li a {
    font-size: 17px;
    margin-left: 0%;
  }
  /*---------------------------end main navbar-------------------------*/
  /*-------------------------------end navBar section---------------------------*/
  /*------------------------start footer section---------------------------*/
  #footer .footer_back {
    margin-top: 50px;
    height: 420px;
  }
  #footer .footer_content {
    margin-top: 60px;
    position: relative;
  }
  #footer .footer_details {
    width: 25%;
  }
  #footer .top_footer {
    margin-top: 0%;
    margin-left: 65%;
    position: absolute;
  }
  #footer .top_footer p {
    font-size: 12px;
  }
  #footer .top_footer .social_icons a {
    font-size: 14px;
  }
  #footer .down_footer {
    margin-top: 0%;
    margin-left: 40%;
    position: absolute;
    font-size: 12px;
  }
  #footer .right_footer {
    position: absolute;
    width: 40%;
    margin-left: 0%;
    margin-top: 0%;
  }
  #footer .right_footer a {
    font-size: 12px;
  }
  #footer .left_footer {
    margin-top: 0%;
    position: absolute;
    font-size: 12px;
    margin-left: 20%;
  }
  #footer .last_footer {
    margin-top: 20%;
  }
  .last_footer p {
    text-align: center;
    margin-left: 40%;
    font-size: 12px;
    width: 100%;
  }
  .last_footer .owner .companies {
    text-align: center;
    margin-top: -15px;
    margin-left: 18%;
    width: 80%;
  }
  /*------------------------end footer section--------------------------------*/
  /*------------------------------start one page-----------------------------*/
  /*--------------------start slider section---------------------------*/
  #slider .slider_img_container{    /*------------------------*/
    height: 500px;
  }
  #slider {
    margin-top: 40px;
  }
  #slider .carousel-caption {
    margin-bottom: 6%;
  }
  #slider .carousel-caption h1 {
    font-weight: bolder;
    font-size: 60px;
    margin-bottom: 40px;
  }
  #slider .carousel-caption p {
    margin-bottom: 40px;
    font-size: 20px;
  }
  #slider .carousel-caption .btn {
    width: 18%;
    font-weight: bold;
    font-size: 20px;
    transition: width 0.5s ease;
  }
  #slider ol li {
    width: 3%;
    margin-bottom: -15px;
  }
  #slider .btn:hover {
    width: 20%;
    font-weight: bold;
  }
  #slider .next_prev span {
    width: 10%;
  }
  /*--------------------start slider section---------------------------*/
  /*--------------------start shoping section-------------------------*/
  #shopping .header_shopping h1 {
    margin-top: 0px;
  }
  #shopping .gallery .same_btn {
    width: 120px;
    font-size: 15px;
    font-weight: bolder;
    height: 55px;
    top: 50%;
    left: 50%;
  }
  .gallery .difer_btn {
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    height: 55px;
    top: 50%;
    left: 50%;
  }
  #shopping .gallery .part_grid .difer_width{
    width: 100%;
  }
  #shopping .gallery .part_grid .same_width{
    width: 147%;
  }
  #shopping .img-container{    /*---------------*/
    width: 300px;
    height: 255px;
    margin-bottom: 30px;
  }
  #shopping .img-container1{   /*--------------*/
    width: 450px;
    height: 540px;
  }
  /*--------------------end shoping section---------------------------*/
  /*----------------------start show secion-------------------------------*/
  #show .details_on_img .some_details_image {
    margin-left: 45%;
    font-weight: bolder;
    font-size: 18px;
  }
  #show .details_on_img .some_details_image button {
    font-size: 16px;
  }
  /*----------------------end show secion-------------------------------*/
  /*-----------------------start descound section-----------------------*/
  #discound {
    margin-bottom: 100px;
  }
  /*-----------------------end descound section------------------------------*/
  /*-------------------------------wnd one page------------------------*/
}
/*----------------------------------------------------------من نحن----------------------------------------------------------------------------------------*/
@media(max-width:600px){
    /*------------------------------start two page(من نحن)-------------------------------*/
  /*------------------------------------start front page 2----------------------------*/
  #header2 .caption_header_photo p{
    top: 15%;
    right: 43%;
    font-size: small;
    font-weight: bolder;
  }
  #header2 .header2_container_image{
    height: 100%;
  }
  #header2 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #header2 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #header2 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #header2 .header2_details h3 {
    font-size: 15px;
    margin-bottom: 18px;
    margin-right: 0%;
    text-align: center;
  }
  #header2 .header2_details p {
    font-size: 12px;
    text-align: center;
  }
  /*------------------------------------end front page 2----------------------------*/
  /*-------------------------------stat animation numbers--------------------------*/
  #animation_number{margin-top: -50px;}
  #animation_number .part_animated{
    width: 25%;
  }
  #animation_number h5 {
    font-size: small;
  }
  #animation_number .counter {
    font-size: large;
  }
  #animation_number .vl1 {
    height: 50px;
    top: 15%;
  }
  /*--------------------------------end animation numbers---------------------------*/
  /*--------------------------start common section---------------------------*/
  #common_part{
    margin-top: -50px;
  }
  #common_part .common_back_photo {
    background-image: none;
    background-color: #f7d6e0;
    width: 100%;
    height: 330px;
    margin-bottom: 200px;
  }
  #common_part .all_commom_details {
    margin-top: 60px;
    position: absolute;
    left: 0%;
  }
  #common_part .column_common_details {
  margin-bottom: 8px;
  }
  #common_part h6 {
  margin: 8px;
  font-size: 12px;
  margin-bottom: -15px;
  }
  #common_part i {
  margin-top: 8px;
  }
  #common_part p {
  font-size: 11px;
  margin-top: 0px;
  }
  /*--------------------------end common section---------------------------*/
}
/*-----------------------------------------------------------------------------------------------------------------------*/
@media(min-width:601px){
  /*---------------------------start front page 2-----------------------------*/

  /*---------------------------end front page 2-----------------------------*/
  /*-------------------------------stat animation numbers--------------------------*/
  #animation_number{margin-top: -50px;}
  #animation_number .part_animated{
    width: 25%;
  }
  #animation_number h5 {
    font-size: small;
  }
  
  /*--------------------------------end animation numbers---------------------------*/
  /*--------------------------start common section---------------------------*/
  #common_part .all_commom_details {
    margin-left: -50%;
    margin-top: 2%;
  }
  #common_part .common_back_photo {
    background-image: none;
    background-color: #f7d6e0;
    width: 100%;
    height: 330px;
    margin-bottom: 200px;
  }
  /*--------------------------end common section---------------------------*/
}
@media(min-width: 768px){
  /*-------------------------start front page2---------------------------*/
  #header2 .header2_details p {
    font-size: 12px;
    width: 70%;
    margin-left: 30%;
  }
  #header2 .header2_content{
    margin-top: 50px;
  }
  /*-----------------------end front page2-----------------------------*/
  /*-------------------------------stat animation numbers--------------------------*/
  #animation_number h5 {
    font-size: large;
  }
  /*--------------------------------end animation numbers---------------------------*/
  /*--------------------------start common section---------------------------*/
  #common_part .all_commom_details {
    margin-left: -50%;
    margin-top: 11%;
  }
  #common_part .common_details {
    width: 100%;
  }
  #common_part .common_back_photo {
    background-image: url("images/Mask Group 10 page2.png");
    background-color: white;
    width: 100%;
    height: 450px;
    margin-bottom: 200px;
  }
  /*--------------------------end common section---------------------------*/
}
@media(min-width: 992px){
  /*-------------------------start front page2---------------------------*/
  #header2 .header2_details p {
    font-size: 15px;
    width: 100%;
    margin-left: 0%;
  }
  #header2 .header2_content{
    margin-top: 50px;
  }
  #common_part .common_details {
    width: 75%;
  }
  #common_part .all_commom_details {
    margin-left: -42%;
    margin-top: 2%;
  }
}
/*----------------------------------------------------------end من نحن----------------------------------------------------------------------------------------*/
/*--------------------------------------------------start six page (التصنيفات)------------------------------------------------*/
@media(max-width:600px){
  #rings_page6 .caption_header_photo p{
    top: 20%;
    right: 42%;
    font-size: small;
    font-weight: bolder;
  }
  #rings_page6 .header2_container_image{
    height: 100%;
  }
  #rings_page6 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #rings_page6 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #rings_page6 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #rings_page6 .rings{
    position: relative;
  }
  #rings_page6 .rings .products{
    margin-top: 800px;
  }
  #rings_page6 .rings .side_product{
    position: absolute;
  }
  #rings_page6 .right_rings img{
    margin-left: 65%;
  }
  #rings_page6 .many_rings{
    height: 30
  }
}      
/*---------------------------------------end التصنيفات------------------------------------------------------------------------*/
/*--------------------------------------------start nine page (الدفع)------------------------------------------------------------------------*/
@media(max-width:600px){
  #pay_page9 .caption_header_photo p{
    top: 20%;
    right: 42%;
    font-size: small;
    font-weight: bolder;
  }
  #pay_page9 .header2_container_image{
    height: 100%;
  }
  #pay_page9 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #pay_page9 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #pay_page9 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #pay_page9 .content_page9{
    margin-bottom: 50%;
  }
  #pay_page9 .content_page9{
    margin-top: 20px;
    font-size: small;
  }
  #pay_page9 .pay_form{
    margin-top: 20px;
    font-size: small;
  }
  #pay_page9 .bay_batton {
    margin-bottom: 10px;
    width: 24%;
}
}
/*--------------------------------------------end nine page (الدفع)------------------------------------------------------------------------*/
/*-------------------------------------------------start five page (اتصل بنا)------------------------------------------*/
@media(max-width:600px){
  #contact_us_page5 .caption_header_photo p{
    top: 15%;
    right: 40%;
    font-size: small;
    font-weight: bolder;
  }
  #contact_us_page5 .header2_container_image{
    height: 100%;
  }
  #contact_us_page5 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #contact_us_page5 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #contact_us_page5 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #contact_us_page5 .content_page5 {
    padding-top: 50px;
    margin-bottom: 180px;
  }
  #contact_us_page5 .content_page5  h6{
    font-size: 22px;
    margin-bottom: 40px;
  }
  #contact_us_page5 .inputBx{
    width: 100%;
  }
  #contact_us_page5 textarea {
    width: 80%;
    height: 130px;
  }
  #contact_us_page5 .write_icon {
    display: none;
  }
  #contact_us_page5 p {
    font-size: 13px;
  }
  #contact_us_page5 button {
    margin-top: 20px;
    width: 22%;
    font-size: 15px;
  }
}
/*-------------------------------------------------start five page (اتصل بنا)------------------------------------------*/
/*----------------------------------------------start four page (تسجيل الدخول)----------------------------------------------*/
@media(max-width:600px){
  #logIn_page4 .log_in_page3 {
    margin-top: 60px;
    margin-bottom: 100px;
    border: none;
    width: 100%;
    margin-left: 0%;
    box-shadow: none;
  }
  #logIn_page4 .caption_header_photo p{
    top: 20%;
    right: 38%;
    font-size: small;
    font-weight: bolder;
  }
  #logIn_page4 .header2_container_image{
    height: 100%;
  }
  #logIn_page4 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #logIn_page4 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #logIn_page4 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
}
/*----------------------------------------------end four page (تسجيل الدخول)----------------------------------------------*/
/*----------------------------------------------start three page (تسجيل الدخول)----------------------------------------------*/
@media(max-width:600px){
  #logIn_page3 .log_in_page3 {
    margin-top: 60px;
    margin-bottom: 120px;
    border: none;
    width: 100%;
    margin-left: 0%;
    box-shadow: none;
  }
  #logIn_page3 .caption_header_photo p{
    top: 20%;
    right: 38%;
    font-size: small;
    font-weight: bolder;
  }
  #logIn_page3 .header2_container_image{
    height: 100%;
  }
  #logIn_page3 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #logIn_page3 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #logIn_page3 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
}
/*----------------------------------------------start three page (تسجيل الدخول)----------------------------------------------*/
/*--------------------------------------------start seven page (المنتج)---------------------------------------------*/
@media(max-width:600px){
  #products_details .caption_header_photo p{
    top: 20%;
    right: 39%;
    font-size: small;
    font-weight: bolder;
  }
  #products_details .header2_container_image{
    height: 100%;
  }
  #products_details .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #products_details .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #products_details .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #products_details .products_content {
    margin-top: 40px;
  }
  #products_details .last_describe img {
    width: 100%;
  }
  #products_details .last_describe{
    margin-bottom: 200px;
  }
}
@media(min-width:600px){
  #products_details .last_describe img {
    width: 100%;
  }
  #products_details .last_describe .card{
    margin-bottom: 25px;
  }
  #products_details .last_describe{
    margin-bottom: 150px;
  }
}
/*--------------------------------------------end seven page (المنتج)---------------------------------------------*/

/*----------------------------------------start eight page(طلباتي)--------------------------*/
@media(max-width:600px){
  #order_page8 .caption_header_photo p{
    top: 20%;
    right: 42%;
    font-size: small;
    font-weight: bolder;
  }
  #order_page8 .header2_container_image{
    height: 100%;
  }
  #order_page8 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #order_page8 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #order_page8 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #order_page8 .caption_header_photo p{
    top: 15%;
    right: 40%;
    font-size: small;
    font-weight: bolder;
  }
  #order_page8 .header2_container_image{
    height: 100%;
  }
  #order_page8 .caption_header_photo p span{
    font-size: smaller;
    font-weight: bold;
  }
  #order_page8 .header2_best_content .front_photo{
    width: 100%;
    margin-top: 20px;
  }
  #order_page8 .header2_details img {
    width: 40%;
    margin-bottom: 5px;
    margin-right: 30%;
  }
  #order_page8 .table{
    padding-left: 0%;
  }
  #order_page8 .table .form-control{
    font-weight: normal;
    font-size: small;
  }
  #order_page8 .table .align-middle{
    font-weight: normal;
    font-size: small;
  }
  #order_page8 .table thead{
    font-size: small;
  }
  #order_page8 .address h6{
    font-weight: bold;
    font-size: 16px;
  }
  #order_page8 .address .bottom_line_header{
    width: 15%;
    margin-left: 83%;
  }
  #order_page8 .address .left_describe {
    width: 100%;
    margin-left: 0%;
  }
  #order_page8 .address .update_btn {
    width: 25%;
    margin-bottom: 20px;
  }
  #order_page8 .address .pay_btn {
    width: 25%;
    margin-bottom: 20px;
  }
  #order_page8 .address .all_country_code{
    position: relative;
  }
  #order_page8 .address .country_code1{
    margin-top: 10%;
  }
  #order_page8 .address .country_code2{
    position: absolute;
  }
  #order_page8 .address .submit_btn {
    margin-top: 6px;
    width: 40%;
  }
  #featured {
    height: 200px;
  }
  #products_details .describe {
    margin-top: 30px;
}
}
@media(min-width:600px){
  #order_page8 .table{
    padding-left: 0%;
  }
  #order_page8 .address .update_btn {
    width: 20%;
  }
  #order_page8 .address .pay_btn {
    width: 20%;
  }
}
@media(min-width:768px){
  #order_page8 .table{
    padding-left: 7%;
  }
}
@media(min-width:992px){
  #order_page8 .table{
    padding-left: 12%;
  }
}
/*-----------------------------------------end eight page (طلباتي)------------------------------*/
